.logo {
  height: 4rem;
  width: 40%;
  margin: 1rem auto;
  background-color: #3e4143;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
  }
}
